{% extends 'base.html.twig' %}
{% block head%}
	<script src="bower_components/better-dom/dist/better-dom.js"></script>
	<script src="bower_components/better-i18n-plugin/dist/better-i18n-plugin.js"></script>
	<script src="bower_components/better-time-element/dist/better-time-element.js"></script>
	<script src="bower_components/better-dateinput-polyfill/dist/better-dateinput-polyfill.js"></script>
{% endblock%}
{% block section %}

<style type="text/css">
	label{
		color:black;
	}
	label,input{
		margin-left:2%;
	}
</style>

<div class="container" style="margin-top: 5%; margin-bottom: 8%;">
	<h1 style="text-align: center; color:rgb(20,110,180);">Historia clinica</h1>
	<hr>
	{% if update %}
		<p class="alert-success"> El control de salud ha sido actualizado correctamente</p>
	{% endif %}

	{% for error in errors %}
    	<li>{{ error.message }}</li>
	{% endfor %}

	<div>
		<form {% if control %} action="/patient/health-control/{{patient_dni}}" {% else %} action="/patient/health-control/{{patient_dni}}" {% endif %} method="POST">
			{% if control %}
				<input type="hidden" name="_method" value="put">
				<input type="hidden" name="id" value={{control.id}}>
			{% endif %}

			<div>
				<label>Fecha de consulta</label><input  required type="date" name="fecha" {% if control %} value={{control.fecha|date('Y-m-d')}} {% endif %}  max="{{'now'|date('Y-m-d')}}" >
			</div>
			<hr>
			{% if control %}
			<div>
				<label>Edad</label><spam type="number" name="edad"> {{ control.edad }} años</spam>
			</div>
			{% endif %}
			<hr>
			<div>
			<label>Peso</label><input  required type="number" step="0.01" name="peso" {% if control %} value={{ control.peso}} {% endif %}>
			</div>
			<hr>
			<div>
			<label>Vacunas completas</label>
				<label for="Si">Si</label>
				<input type="radio"  value="1"  required {% if control.vacunasCompletas %} checked {% endif %}  name="vacunas_completas">
				<label for="No">No</label>
				<input type="radio" value="0"  required {% if not control.vacunasCompletas %} checked {% endif %}  name="vacunas_completas">
			</div>
			<hr>
			<div>
			<label>Maduracion acorde</label>
				<label for="Si">Si</label>
				<input type="radio"  value="1"  required {% if control.maduracionAcorde %} checked {% endif %}  name="maduracion_acorde">
				<label for="No">No</label>
				<input type="radio" value="0"  required {% if not control.maduracionAcorde %} checked {% endif %} name="maduracion_acorde">
			</div>
			<hr>
			<div>
			<label>Examen fisico normal</label>
				<label for="Si">Si</label>
				<input type="radio" value="1"  required {% if control.exFisicoNormal %} checked {% endif %} name="ex_fisico_normal">
				<label for="No">No</label>
				<input type="radio" value="0" required {% if not control.exFisicoNormal %} checked {% endif %}  name="ex_fisico_normal">
			</div>
			<hr>
			<div>
			<label>Examen fisico observaciones</label><input  required type="text" name="ex_fisico_observaciones" {% if control %} value="{{ control.exFisicoObservaciones}}" {% endif %}>
			</div>
			<hr>
			<div>
			<label>PC: Percentilo Cefalico</label><input type="number" step="0.01" name='pc' {% if control %} value={{ control.pc }} {% endif %}>
			</div>
			<hr>
			<div>
			<label>PPC: Percentilo Perimetro Cefalico</label><input type="number" step="0.01" name="ppc" {% if control %} value={{ control.ppc}} {% endif %}>
			</div>
			<hr>
			<div>
			<label>Talla</label><input type="number" step="0.01" name="talla" {% if control %} value={{ control.talla}} {% endif %}>
			</div>
			<hr>
			<div>
			<label>Alimentacion</label><input type="textarea" name="alimentacion" {% if control %} value={{ control.alimentacion}} {% endif %} placeholder="Descripcion de la alimentacion del control al dia de la consulta">
			</div>
			<hr>
			<div>
			<label>Observaciones generales</label><input type="textarea" name="observaciones_generales" {% if control %} value={{ control.observacionesGenerales}} {% endif %}>
			</div>
			<hr>
			{% if control %}
				<div>
				<label>Pediatra: </label> <h4 style="display: inline-block;">{{ control.usuario.username}}</h2>
				</div>
			{% endif %}
			<div>
			{% if is_granted('ROLE_Pediatra') %}
				<input type="submit" name="boton" {% if control %} value="Actualizar" {% else %} value="Agregar" {% endif %}>
			{% endif %}
			</div>
		</form>
	</div>	




</div>



{% endblock %}