{% extends 'base.html.twig' %}
{% block section %}
    <section class="seccion1" id="#top">
      <div class="container text-center myCont">
        <h1 class="paragraph">El hospital</h1>
        <p class="lead paragraph" style="padding-bottom:50px;">Este centro de salud tiene un programa de residencias de primer nivel en el pais. Se ofrecen oportunidades de practica intensiva y supervisada en ambitos profesionales y por la misma -por supuesto- se recibe un salario mensual, acorde a lo que la regulacion medica profesional lo indica en cada momento.</p>
      </div>
    </section>

    <section class="seccion2">
      <div class="container text-center myCont">
        <h1 class="paragraph">La guardia</h1>
        <p class="lead paragraph" style="padding-bottom:50px;">Hospital Dr. Ricardo Gutierrez de La Plata dispone de un sofisticado servicio de guardias medicas las 24 horas para la atencion de distintas urgencias. La administracion de la institucion hace viable una eficiente separacion de los pacientes segun el nivel de seriedad y tipo de patologia.</p>
      </div>
    </section>

    <section class="seccion3">
      <div class="container text-center myCont">
        <h1 class="paragraph">Especialidades</h1>
        <p class="lead paragraph" style="padding-bottom:50px;">Acorde a una respetable trayectoria en materia de medicina y salud, en el Hospital Dr. Ricardo Gutierrez de La Plata podemos encontrar profesionales de las principales especialidades de salud. Del mismo modo, se brinda atencion programada y de urgencias, se realizan estudios medicos y se brinda soporte ...</p>
      </div>
    </section>
{% endblock %}