{% extends 'base.html.twig' %}
{% block head%}
	<script src="bower_components/better-dom/dist/better-dom.js"></script>
	<script src="bower_components/better-i18n-plugin/dist/better-i18n-plugin.js"></script>
	<script src="bower_components/better-time-element/dist/better-time-element.js"></script>
	<script src="bower_components/better-dateinput-polyfill/dist/better-dateinput-polyfill.js"></script>
{% endblock%}
{% block section %}
{% if repetido %}
	<script type="text/javascript">
		alert("Ese paciente ya se encuentra registrado");
	</script>
	
{% endif %}

{% for error in errors %}
    <div class="alert alert-warning" style="text-align: center;" role="alert">
    	<li>{{ error.message }}</li>
    </div>
{% endfor %}

<div class="container" style="margin-top:10%; margin-bottom:20%">
	<h2 style="text-align:center; color:#3e4e68">{% if not paciente %} Agregar {%else%} Actualizar {%endif%} paciente </h2>
	<hr>
	{% if complete == true %}
		<h3 style="text-align:center; color:red">Por favor complete todos los campos.<h3>
		<hr>
	{% endif %}
	<form method="POST" {% if not paciente %}   action="{{path('patients_insert')}}" {% else %}   action="{{path('patients_update')}}" {% endif %}>
		{% if paciente %}
			<input type="hidden" name="_method" value="put">
		{% endif %}
	  <div class="form-group">
	    <label  class="userAddlabel">Nombre:</label>
	    <input required name="name" type="text" class="form-control" {% if not paciente %} placeholder="Nombre" {% else %} value="{{ paciente.name }}" {% endif %}>
	  </div>
	  <hr>
	  <div class="form-group">
	    <label  class="userAddlabel">Apellido:</label>
	    <input required name="lastname" type="text" class="form-control" {% if not paciente %} placeholder="Apellido" {% else %} value="{{ paciente.surname }}" {% endif %}>
	  </div>
	  <hr> 
	  <div class="form-group">
	  	{% if not paciente %}
	    	<label >Numero de documento:</label>
	    	<input required name="dni" type="number" class="form-control" {% if not paciente %} placeholder="Numero de documento" {% else %} value="{{ paciente.dniNumber }}" {% endif %}>
	    {% else %}
	   		<input required name="dni" type="hidden" class="form-control" {% if not paciente %} placeholder="Numero de documento" {% else %} value="{{ paciente.dniNumber }}" {% endif %}>
	  	{% endif %}
	  </div>
	  {% if not paciente %}
	  <hr>
	   <div class="form-group">
	    <label  class="userAddlabel">Tipo de documento:</label>
	    <select required name="dni_type" >
	    	<option selected value="">Seleccione una opcion</option>
	    	{% for i in referencias.tipoDocumento %}
	    		<option  value="{{i.id}}">{{i.name}}</option>
	    	{% endfor %}
	    </select>
	  </div>
	 <hr>
	 {% endif %}
	  <div class="form-group">
	    <label  class="userAddlabel">Fecha de Nacimiento:</label>
	    <input required name="birthday" type="date"  class="form-control" id="fecha" {% if paciente %} value="{{ paciente.birthDate|date('Y-m-d') }}" {% endif %}  max="{{'now'|date('Y-m-d')}}">
	  </div>
	  <hr>
	  <fieldset>
	  	<label class="userAddlabel">Genero:</label>
	    <label class="userAddlabel"><input {% if paciente.gender =='M' %} checked {% endif %} required name="genre" value="M" type="radio">Masculino</label>
	   	<label class="userAddlabel"><input {% if paciente.gender =='F' %} checked {% endif %} required name="genre" value="F" type="radio">Femenino</label>
	  </fieldset>
	  <hr>
	   <div class="form-group">
	    <label  class="userAddlabel">Direccion:</label>
	    <input required name="address" type="text" class="form-control" {% if not paciente %} placeholder="Direccion" {% else %} value="{{ paciente.address }}" {% endif %}>
	  </div>
	  <hr>
	   <div class="form-group">
	    <label  class="userAddlabel">Telefono:</label>
	    <input  name="phone" type="number" class="form-control" {% if not paciente %} placeholder="Telefono" {% else %} value="{{ paciente.phone }}" {% endif %}>
	  </div>
	  <hr>
	   <div class="form-group">
	    <label  class="userAddlabel">Obra social:</label>
	    <select name="obra_social">
	    	<option {% if not paciente.idObraSocial %} selected {% endif %} value="">Seleccione una opcion</option>
	    	{% for i in referencias.obraSocial %}
	    		<option  {% if paciente.idObraSocial ==i.id %} selected {%endif%} value="{{i.id}}">{{i.name}}</option>
	    	{% endfor %}
	    </select>
	  </div>
	 <hr> 
	  <div class="form-group" style="margin-left:35%;">
	  	<input type="submit" class="btn btn-primary" {% if not paciente %} value="Agregar" {% else%} value="Actualizar" {% endif %}>
	  </div>
	</form>
	
</div>


{% endblock %}